html {
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

#gameContainer {
    max-width: 800px;
    height: auto;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#startGame {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.rules {
    margin-bottom: 15px;
}

ul.rules {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    margin-bottom: 10px;
}

button#startButton {
    display: block;
    margin: auto;
}